extends layout

block content
.wrapper
    form(name= 'JOIN TWITER OR SUFFER THE CONSEQUENCES', action='/signup', method='post')
        .line
            label(for= 'user_name') Choose a user name:
            input(type= 'text' name= 'user_name')
        .line
            label(for= 'password') Enter a password: 
            input(type= 'text' name= 'password')
        .line
            input(type= 'submit', value='submit')

p you are at the index page