extends layout

block content
    .wrapper
        .name= username
        .entertwit
            input(type="text" id="input")
        .activity
            .people
                .minions Minions
                    ul
                        each index in minions
                            li= minions[i]
                .overlords Overlords
                    ul
                        li= overlords
            .feed
                ul
                    each tKey in twits
                        li= tKey.relations.userNames.attributes.user_name+" - "+tKey.attributes.text+" - "+tKey.attributes.timestamp
