extends layout

block content
    .wrapper
        .name= username
        .entertwit
            input(type="text")
        .activity
            .people
                .minions Minions
                    ul
                        each mKey in minions
                            li= mKey.relations.userNames.attributes.user_name
                .overlords Overlords
                    ul
                        each oKey in overlords
                            li= oKey.attributes.user_id_overlord
            .feed
                ul
                    each tKey in twits
                        li= tKey.relations.userNames.attributes.user_name+" - "+tKey.attributes.text+" - "+tKey.attributes.timestamp
