body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
    list-style-type: none;
}

.wrapper {
    width:100%;
    border: 2px solid red;
    float:left;
}

.entertwit {
    width:50%;
    border: 1px solid green;
}

.activity {
    width:100%;
    border:1px solid blue;

}

.people {
    width:25%;
    border:1px solid black;
    float:left;
}

.minions,.overlords {
    width:100%;
    border:1px solid orange;
    margin: 10px;

}

.overlords {
/*    width:20%;
    border:1px solid yellow;

*/}

.feed {
    width: 70%;
    border:1px solid purple;
    float:right;
}