body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
    list-style-type: none;
}

.wrapper {
    width:100%;
    border: 2px solid red;
    float:left;
}

.name {
    font-weight:bold;
    float:left;
    margin: 10px 0;
    padding:18px;
}

.entertwit {
    border: 1px solid green;
    float:right;
    margin:36px 0;
}

#input {
    width:400px;
    height:40px;
}

.activity {
    width:100%;
    border:1px solid blue;
    float:left;

}

.people {
    width:25%;
    border:1px solid black;
    float:left;
}

.minions,.overlords {
    border:1px solid orange;
    margin: 10px;
}

.feed {
    width: 70%;
    border:1px solid purple;
    float:right;
}